:root {
    --font-head: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-text: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f4ed;
}

section {
    height: fit-content;
    background-color: #0a5247;
    color: white;
}

.start {
    display: flex;
    gap: 25px;
}

.rbox {
    padding: 15px;
}

h2 {
    font-size: 3rem;
    font-family: var(--font-head);
    font-weight: bolder;
}

.rbox p {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: var(--font-text);
}

.second {
    padding: 2rem;
}

.second ol {
    list-style-type: none;
}

.second ol li b {
    font-size: x-large;
}

.second ol li p {
    font-size: large;
}

.whiteline {
    width: 100%;
    color: white;
    height: 5px;
}

.end {
    height: 60vh;
    padding: 2rem;
}

.end ul li {
    font-size: larger;
    padding: 10px;
}

.end ul li b {
    font-size: x-large;
}

.end p {
    font-size: 1.5rem;
}