@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-head: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-text: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f4ed;
}

.top {
    height: 92.2vh;
    background-color: #0a5247;
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
}

.cont {
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    display: grid;
    gap: 1rem;
    font-family: 'Jost', sans-serif;
}

.calculator {
    display: grid;
    gap: 1rem;
}

.calculator div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.calculator label {
    flex: 0 1 120px;
    font-weight: 600;
    font-size: large;
}

.form-check-input:checked {
    background-color: #0a5247;  
    border-color: #0a5247;
}

.calculator input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
}

.calculator button {
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #00a1a3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.calculator button[type="reset"] {
    background: #444;
}

.calculator button:hover {
    filter: brightness(120%);
}

.output {
    text-align: center;
}

.output #bmr {
    font-size: 4rem;
}

.bottom {
    margin-top: 10px;
    background-color: #0a5247;
    height: 100vh;
    padding: 2rem;
}

.bottom :where(h2, p) {
    color: white;
}

.bottom h2 {
    font-size: 3rem;
    font-family: var(--font-head);
}

.bottom p {
    font-size: 1.2rem;
}

.bottom h3 {
    color: white;
    font-size: 2rem;
}

.content {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 2px solid black;
    border-radius: 15px;
    height: 50%;
    width: 100%;
}

.item {
    display: flex;
    padding-left: 25px;
    font-size: larger;
    font-weight: 500;
    align-items: center;
    border: 1px solid black;
} 

.heading {
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
}