:root {
  --primary-color: #bfd202;
  --secondary-color: #f8f4ed;
  --tertiary-color: #0a5247;
  --fourth-color: #ffc643;
  --font-head: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-text: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--secondary-color);
}

.first {
  min-height: 92vh;
  background-color: var(--primary-color);
  position: relative;
}

.second {
  min-height: 100vh;
  background-color: var(--secondary-color);
  position: relative;
}

.right {
  background-image: url("../images/Home.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  height: 92vh;
  width: 30%;
}

.left {
  width: 70%;
  padding: 2rem;
}

.left h1 {
  margin-top: 80px;
  font-family: var(--font-head);
  font-size: 6.5rem;
  text-align: center;
}

.left p {
  margin-top: 50px;
  font-family: var(--font-text);
  font-size: 1.5rem;
  text-align: left;
}

.rs {
  background-image: url("../images/sec.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 90px;
  right: 100px;
  height: 80vh;
  width: 25%;
}

.ls {
  width: 65%;
  padding: 2rem;
  color: var(--tertiary-color);
}

.ls h2 {
  margin-top: 20px;
  font-family: var(--font-head);
  font-size: 3.5rem;
  text-align: center;
}

.ls ul {
  margin-top: 50px;
  font-family: var(--font-text);
  font-size: 1.5rem;
  text-align: left;
}

.divider {
  margin-left: 30px;
  height: 5px;
  width: 95vw;
  background-color: darkgray;
}

.third {
  height: 100vh;
  padding: 2rem;
  color: var(--tertiary-color);
}

.third h2 {
  padding-top: 40px;
  text-align: center;
  font-family: var(--font-head);
  font-size: 5rem;
}

.box {
  width: 90%;
  height: 47.5vh;
  margin-top: 120px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.b1,
.b2,
.b3 {
  border-radius: 2.5%;
  background-color: #ffc643;
  padding: 5px;
}

.b1 h3,
.b2 h3,
.b3 h3 {
  font-size: 2.2rem;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.box a:link {
  text-decoration: none;
}

.box a:hover {
  color: var(--tertiary-color);
  text-decoration: underline;
}

.box a:link {
  color: #006666;
}

.box a:visited {
  color: var(--tertiary-color);
}

.b1>p,
.b2>p,
.b3>p {
  font-size: larger;
  padding-top: 10px;
  padding-left: 15px;
}

.fourth {
  height: 100vh;
  padding: 2rem;
  position: relative;
  background-color: var(--primary-color);
}

.lfr {
  width: 65%;
  padding: 1.5rem;
}

.lfr h2 {
  font-family: var(--font-head);
  font-size: 2.75rem;
  font-weight: bolder;
  text-align: center;
}

.lfr ol {
  margin-top: 35px;
  text-align: left;
  font-size: 1.25rem;
  font-family: var(--font-text);
}

.rfr {
  background-image: url("../images/th.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  right: 75px;
  height: 90vh;
  width: 30%;
}

.sixth {
  display: flex;
  height: 100vh;
  background-color: var(--tertiary-color);
}

.lsix {
  background-image: url("../images/last.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
}

.rsix {
  width: 70%;
  padding-left: 100px;
  padding-top: 150px;
}

.rsix h2 {
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.rsix img {
  padding-top: 50px;
}

.rsix p {
  font-size: large;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
}

.email-link {
  color: lightblue; 
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline; 
}